@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,600,700);





body {
  font-family: Josefin Sans;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.6rem;
}
.display-4 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #f9e2af !important;
}
.bg-success {
  background-color: #98e38d !important;
}
.bg-info {
  background-color: #69b9d0 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #f9e2af;
  border-color: #f9e2af;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #f4c868;
  border-color: #f4c868;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f5aeb5;
  border-color: #f5aeb5;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #ed6a77;
  border-color: #ed6a77;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #69b9d0;
  border-color: #69b9d0;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #3898b4;
  border-color: #3898b4;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #98e38d;
  border-color: #98e38d;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #61d450;
  border-color: #61d450;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444;
  border-color: #444444;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #1e1e1e;
  border-color: #1e1e1e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #f2c050;
  color: #f2c050;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #f9e2af;
  border-color: #f9e2af;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #ea5362;
  color: #ea5362;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #f5aeb5;
  border-color: #f5aeb5;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3288a1;
  color: #3288a1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #69b9d0;
  border-color: #69b9d0;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #4ecf3b;
  color: #4ecf3b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #98e38d;
  border-color: #98e38d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #98e38d !important;
  border-color: #98e38d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f9e2af !important;
}
.text-secondary {
  color: #f5aeb5 !important;
}
.text-success {
  color: #98e38d !important;
}
.text-info {
  color: #69b9d0 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f2c050 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ea5362 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #4ecf3b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3288a1 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #98e38d;
}
.alert-info {
  background-color: #69b9d0;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f9e2af;
  border-color: #f9e2af;
  color: #b5810e;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #f9e2af;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: transparent;
  opacity: .7;
  transition: .3s;
  text-align: center;
  width: auto;
}
.mbr-arrow:hover {
  opacity: 1;
}
.mbr-arrow a {
  display: block;
}
.mbr-arrow a i {
  color: #ffbc00;
  top: auto !important;
  left: auto !important;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #f9e2af;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #f9e2af;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #f9e2af;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.cid-qBVRH9XRAq .nav-item:focus,
.cid-qBVRH9XRAq .nav-link:focus {
  outline: none;
}
.cid-qBVRH9XRAq .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qBVRH9XRAq .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qBVRH9XRAq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qBVRH9XRAq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qBVRH9XRAq .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qBVRH9XRAq .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-qBVRH9XRAq .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qBVRH9XRAq .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-qBVRH9XRAq .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qBVRH9XRAq .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qBVRH9XRAq .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qBVRH9XRAq .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qBVRH9XRAq .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qBVRH9XRAq .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qBVRH9XRAq .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qBVRH9XRAq .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-qBVRH9XRAq .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-qBVRH9XRAq .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qBVRH9XRAq .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qBVRH9XRAq .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qBVRH9XRAq .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qBVRH9XRAq .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qBVRH9XRAq .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qBVRH9XRAq .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qBVRH9XRAq .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-qBVRH9XRAq .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qBVRH9XRAq .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-qBVRH9XRAq .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-qBVRH9XRAq .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-qBVRH9XRAq .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qBVRH9XRAq .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qBVRH9XRAq .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qBVRH9XRAq .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qBVRH9XRAq .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qBVRH9XRAq .dropdown-item.active,
.cid-qBVRH9XRAq .dropdown-item:active {
  background-color: transparent;
}
.cid-qBVRH9XRAq .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qBVRH9XRAq .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qBVRH9XRAq .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qBVRH9XRAq .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qBVRH9XRAq .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qBVRH9XRAq .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qBVRH9XRAq ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qBVRH9XRAq .navbar-buttons {
  text-align: center;
}
.cid-qBVRH9XRAq button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qBVRH9XRAq button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qBVRH9XRAq button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qBVRH9XRAq button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qBVRH9XRAq button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qBVRH9XRAq button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qBVRH9XRAq nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qBVRH9XRAq nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qBVRH9XRAq nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qBVRH9XRAq nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qBVRH9XRAq .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qBVRH9XRAq a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-qBVRH9XRAq .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qBVRH9XRAq .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-qBVRH9XRAq .icons-menu span {
  font-size: 20px;
  color: #232323;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qBVRH9XRAq .navbar {
    height: 77px;
  }
  .cid-qBVRH9XRAq .navbar.opened {
    height: auto;
  }
}
.cid-qBVRHS9q3f {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-qBVRHS9q3f .mbr-overlay {
  background: #232323;
}
.cid-qBVRHS9q3f .mbr-section-title {
  letter-spacing: .5rem;
}
.cid-qBVRJENmiY {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qBVRJENmiY .text-box {
  position: absolute;
  top: 0px;
  min-height: 100%;
  writing-mode: vertical-rl;
}
.cid-qBVRJENmiY .text-block {
  position: relative;
  z-index: 0;
}
.cid-qBVRJENmiY .box {
  width: 25%;
  height: 40%;
  background: #e2f7df;
  position: absolute;
  top: 4%;
}
.cid-qBVRJENmiY .box {
  left: 20%;
}
.cid-qBVRJENmiY .text-box {
  left: 0;
  transform: rotate(180deg);
}
.cid-qBVRJENmiY .mbr-section-text,
.cid-qBVRJENmiY .mbr-section-title {
  margin-left: 31%;
}
@media (max-width: 991px) {
  .cid-qBVRJENmiY .text-box {
    display: none;
  }
  .cid-qBVRJENmiY .mbr-section-title,
  .cid-qBVRJENmiY .mbr-section-text {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-qBVRJENmiY .box {
    display: none;
  }
  .cid-qBVRJENmiY .row {
    flex-direction: column-reverse;
  }
  .cid-qBVRJENmiY .img-block {
    margin-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qBVRJENmiY .text-box {
    writing-mode: bt-rl;
  }
}
.cid-qBVRLcUwR4 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-1-1620x1080.jpg");
}
.cid-qBVRLcUwR4 .content-block {
  text-align: center;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  background-color: #efefef;
  transition: all 0.4s ease-in-out;
}
.cid-qBVRLcUwR4 .content-block .mbr-text {
  margin: 0;
}
.cid-qBVRLcUwR4 .content-section {
  height: 100%;
  padding: 0 3rem;
  margin-bottom: 2rem;
}
.cid-qBVRLcUwR4 .image-wrap:hover img {
  opacity: 1;
  transform: translateY(-4%);
}
.cid-qBVRLcUwR4 .image-wrap:hover > .content-block {
  opacity: .6;
}
.cid-qBVRLcUwR4 .image-wrap {
  width: 100%;
  height: 100%;
}
.cid-qBVRLcUwR4 .image-wrap img {
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.cid-qBVRLcUwR4 h4.mbr-text a {
  display: block;
  min-width: 100%;
}
.cid-qBVRNYWsOd {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-qBVRNYWsOd .text-block {
  z-index: 2;
}
.cid-qBVRNYWsOd .content-panel {
  width: 110%;
  background: #ffffff;
  padding: 3rem;
}
.cid-qBVRNYWsOd .menu-box {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.cid-qBVRNYWsOd .menu-box .box-price {
  flex-shrink: 0;
  margin-left: auto;
  word-break: break-word;
}
@media (max-width: 767px) {
  .cid-qBVRNYWsOd .text-block {
    padding-bottom: 2rem;
  }
  .cid-qBVRNYWsOd .content-panel {
    width: 100%;
    padding: 1rem;
  }
}
.cid-qBVRTNe4Ge {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qBVRTNe4Ge .mbr-text {
  margin: 0;
}
.cid-qBVRTNe4Ge .text-element {
  padding: 2rem;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-qBVRTNe4Ge .row-element,
.cid-qBVRTNe4Ge .image-element {
  padding: 0;
}
.cid-qBVRTNe4Ge .image-element {
  display: flex;
  justify-content: center;
}
.cid-qBVRTNe4Ge .image-element .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-qBVRTNe4Ge .image-element .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-qBVRTNe4Ge .carousel-item {
  justify-content: center;
}
.cid-qBVRTNe4Ge .carousel-item.active,
.cid-qBVRTNe4Ge .carousel-item-next,
.cid-qBVRTNe4Ge .carousel-item-prev {
  display: flex;
}
.cid-qBVRTNe4Ge .carousel-indicators {
  left: 50%;
  margin: 20px auto 0;
}
.cid-qBVRTNe4Ge .carousel-indicators .active {
  opacity: 1;
  border: 0;
  background-color: #f9e2af;
}
.cid-qBVRTNe4Ge .carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition: opacity .5s;
  background-color: #000000;
  font-size: 2rem;
  opacity: .5;
}
.cid-qBVRTNe4Ge .carousel-indicators li:hover {
  opacity: 1;
}
.cid-qBVRTNe4Ge .carousel-controls {
  display: none;
}
@media (max-width: 991px) {
  .cid-qBVRTNe4Ge .carousel-controls {
    display: block;
  }
  .cid-qBVRTNe4Ge .carousel-controls a {
    transition: opacity .5s;
    font-size: 2rem;
  }
  .cid-qBVRTNe4Ge .carousel-controls a span {
    padding: 10px;
    border-radius: 50%;
    color: #ffffff;
    background: #444444;
    opacity: .9;
  }
  .cid-qBVRTNe4Ge .carousel-controls a:hover span {
    opacity: 1;
  }
  .cid-qBVRTNe4Ge .carousel-indicators {
    display: none;
  }
}
@media (max-width: 540px) {
  .cid-qBVRTNe4Ge .text-element {
    padding: 1rem;
  }
  .cid-qBVRTNe4Ge .carousel-controls {
    display: none;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qBVRTNe4Ge .image-element {
    min-width: 50%;
  }
  .cid-qBVRTNe4Ge .media-container-row {
    width: 100%;
  }
}
.cid-qBVRYOpQBP {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qBVRYOpQBP .container-fluid {
  padding: 0 3rem;
}
.cid-qBVRYOpQBP .mbr-section-title {
  margin-bottom: 1.5em;
}
.cid-qBVRYOpQBP .mbr-section-subtitle {
  color: #ffbc00;
}
.cid-qBVRYOpQBP .input-main {
  width: 100%;
  margin: 0;
}
.cid-qBVRYOpQBP .input-wrap {
  padding: 0 1rem 1rem 1rem ;
}
.cid-qBVRYOpQBP .input-wrap input {
  border: 1px solid #ddd;
  background-color: #efefef;
  padding: 10px 20px;
  width: 100%;
}
.cid-qBVRYOpQBP .form-group textarea {
  background-color: #efefef;
  padding: 1rem;
}
.cid-qBVRYOpQBP .text-block {
  background: #232323;
  padding: 2rem;
  outline: 1px dashed #f9e2af;
  outline-offset: -15px;
}
.cid-qBVRYOpQBP .work-list {
  list-style-type: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-qBVRYOpQBP .time-block-title {
  color: #ffbc00;
}
.cid-qBVRYOpQBP .time-title {
  color: #bdecb6;
}
@media (max-width: 767px) {
  .cid-qBVRYOpQBP .container-fluid {
    padding: 0 1rem;
  }
  .cid-qBVRYOpQBP .btn {
    padding: 1rem 2rem;
    font-size: 16px !important;
  }
  .cid-qBVRYOpQBP .text-block {
    margin-bottom: 2rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qBVRYOpQBP .text-block {
    border: 1px dashed #f9e2af;
    outline: 15px solid #232323;
  }
}
.cid-qBWo8NIbBl {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #e2f7df;
}
.cid-qBWo8NIbBl .mbr-section-subtitle {
  color: #444444;
}
.cid-qBWo8NIbBl .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-qBWo8NIbBl .mbr-text {
  color: #444444;
}
.cid-qBWo8NIbBl .mbr-author-desc {
  display: block;
  color: #444444;
}
.cid-qBWo8NIbBl .mbr-author-name {
  color: #444444;
}
.cid-qBWo8NIbBl .mbr-testimonial .panel-item {
  background-color: #ffffff;
}
.cid-qBWo8NIbBl .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2.4rem 2.4rem 0 2.4rem;
}
.cid-qBWo8NIbBl .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
}
.cid-qBWo8NIbBl .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-qBWo8NIbBl .mbr-testimonial .card-footer {
  padding-bottom: 2.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-qBWo8NIbBl .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-qBWoaLtRqf {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qBWoaLtRqf .icons-block .mbr-iconfont {
  font-size: 1.5rem;
  color: #000000;
  opacity: .5;
}
.cid-qBWoaLtRqf .icons-block .mbr-iconfont:hover {
  opacity: 1;
}
.cid-qBWoaLtRqf .links-block ul li {
  margin: 0 1rem;
}
.cid-qBWoaLtRqf .icons-block ul li {
  margin: 0 .5rem;
}
.cid-qBWoaLtRqf .links-block ul,
.cid-qBWoaLtRqf .icons-block ul {
  margin-bottom: 1.5rem;
}
.cid-qBVRH9XRAq .nav-item:focus,
.cid-qBVRH9XRAq .nav-link:focus {
  outline: none;
}
.cid-qBVRH9XRAq .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qBVRH9XRAq .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qBVRH9XRAq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qBVRH9XRAq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qBVRH9XRAq .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qBVRH9XRAq .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-qBVRH9XRAq .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qBVRH9XRAq .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-qBVRH9XRAq .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qBVRH9XRAq .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qBVRH9XRAq .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qBVRH9XRAq .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qBVRH9XRAq .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qBVRH9XRAq .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qBVRH9XRAq .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qBVRH9XRAq .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-qBVRH9XRAq .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-qBVRH9XRAq .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qBVRH9XRAq .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qBVRH9XRAq .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qBVRH9XRAq .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qBVRH9XRAq .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qBVRH9XRAq .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qBVRH9XRAq .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qBVRH9XRAq .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-qBVRH9XRAq .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qBVRH9XRAq .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-qBVRH9XRAq .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-qBVRH9XRAq .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-qBVRH9XRAq .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qBVRH9XRAq .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qBVRH9XRAq .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qBVRH9XRAq .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qBVRH9XRAq .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qBVRH9XRAq .dropdown-item.active,
.cid-qBVRH9XRAq .dropdown-item:active {
  background-color: transparent;
}
.cid-qBVRH9XRAq .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qBVRH9XRAq .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qBVRH9XRAq .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qBVRH9XRAq .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qBVRH9XRAq .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qBVRH9XRAq .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qBVRH9XRAq ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qBVRH9XRAq .navbar-buttons {
  text-align: center;
}
.cid-qBVRH9XRAq button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qBVRH9XRAq button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qBVRH9XRAq button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qBVRH9XRAq button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qBVRH9XRAq button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qBVRH9XRAq button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qBVRH9XRAq nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qBVRH9XRAq nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qBVRH9XRAq nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qBVRH9XRAq nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qBVRH9XRAq .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qBVRH9XRAq a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-qBVRH9XRAq .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qBVRH9XRAq .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-qBVRH9XRAq .icons-menu span {
  font-size: 20px;
  color: #232323;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qBVRH9XRAq .navbar {
    height: 77px;
  }
  .cid-qBVRH9XRAq .navbar.opened {
    height: auto;
  }
}
.cid-qBWqxqGoXV {
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-qBWr4FsxgK {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qBWr4FsxgK .mbr-text {
  color: #444444;
}
.cid-qBWr4FsxgK .card-title {
  color: #f9e2af;
}
.cid-qBWr4FsxgK .card .card-img span {
  color: #000000;
  font-size: 60px;
}
@media (max-width: 767px) {
  .cid-qBWr4FsxgK .card {
    padding-bottom: 2rem !important;
  }
}
.cid-qBWr8TpODA {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qBWr9Mz1ys {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9e2af;
  background: linear-gradient(0deg, #f9e2af, #ffffff);
}
.cid-qBWr9Mz1ys .counter-container {
  color: #444444;
}
.cid-qBWr9Mz1ys .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.cid-qBWr9Mz1ys .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-qBWr9Mz1ys .counter-container ol li {
  list-style: none;
  padding-left: .5rem;
}
.cid-qBWr9Mz1ys .counter-container ol li:before {
  position: absolute;
  left: 0px;
  margin-top: -10px;
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 35px;
  transition: all .2s;
  color: #000000;
  background: #ffda73;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cid-qBWrePbyIT {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qBWrePbyIT .carousel-item {
  justify-content: center;
}
.cid-qBWrePbyIT .carousel-item.active,
.cid-qBWrePbyIT .carousel-item-next,
.cid-qBWrePbyIT .carousel-item-prev {
  display: flex;
}
.cid-qBWrePbyIT .carousel-controls a {
  transition: opacity .5s;
  font-size: 2rem;
}
.cid-qBWrePbyIT .carousel-controls a span {
  position: absolute;
  top: 180px;
  padding: 10px;
  border-radius: 50%;
  color: #000000;
  background: #ffffff;
  opacity: .9;
}
.cid-qBWrePbyIT .carousel-controls a:hover span {
  opacity: 1;
}
.cid-qBWrePbyIT .user {
  padding: 3rem;
  background: transparent;
}
.cid-qBWrePbyIT .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  background: #ffffff;
  margin: 0 auto 2rem auto;
  display: flex;
  box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
}
.cid-qBWrePbyIT .user_image .user_image_inner {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  margin: auto;
}
.cid-qBWrePbyIT .user_image .user_image_inner img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-qBWrePbyIT .user_text {
  color: #444444;
}
@media (max-width: 230px) {
  .cid-qBWrePbyIT .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-qBWrnKjjBa {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qBWrnKjjBa .icons-block .mbr-iconfont {
  font-size: 1.5rem;
  color: #000000;
  opacity: .5;
}
.cid-qBWrnKjjBa .icons-block .mbr-iconfont:hover {
  opacity: 1;
}
.cid-qBWrnKjjBa .links-block ul li {
  margin: 0 1rem;
}
.cid-qBWrnKjjBa .icons-block ul li {
  margin: 0 .5rem;
}
.cid-qBWrnKjjBa .links-block ul,
.cid-qBWrnKjjBa .icons-block ul {
  margin-bottom: 1.5rem;
}
.cid-qBWs5cieHw {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9e2af;
  background: linear-gradient(0deg, #f9e2af, #ffffff);
}
.cid-qBWs5cieHw .counter-container {
  color: #444444;
}
.cid-qBWs5cieHw .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.cid-qBWs5cieHw .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-qBWs5cieHw .counter-container ol li {
  list-style: none;
  padding-left: .5rem;
}
.cid-qBWs5cieHw .counter-container ol li:before {
  position: absolute;
  left: 0px;
  margin-top: -10px;
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 35px;
  transition: all .2s;
  color: #000000;
  background: #ffda73;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cid-qBWrKuiOXZ .nav-item:focus,
.cid-qBWrKuiOXZ .nav-link:focus {
  outline: none;
}
.cid-qBWrKuiOXZ .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qBWrKuiOXZ .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qBWrKuiOXZ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qBWrKuiOXZ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qBWrKuiOXZ .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qBWrKuiOXZ .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-qBWrKuiOXZ .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qBWrKuiOXZ .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-qBWrKuiOXZ .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qBWrKuiOXZ .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qBWrKuiOXZ .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qBWrKuiOXZ .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qBWrKuiOXZ .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qBWrKuiOXZ .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qBWrKuiOXZ .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qBWrKuiOXZ .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-qBWrKuiOXZ .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-qBWrKuiOXZ .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qBWrKuiOXZ .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qBWrKuiOXZ .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qBWrKuiOXZ .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qBWrKuiOXZ .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qBWrKuiOXZ .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qBWrKuiOXZ .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qBWrKuiOXZ .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-qBWrKuiOXZ .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qBWrKuiOXZ .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-qBWrKuiOXZ .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-qBWrKuiOXZ .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-qBWrKuiOXZ .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qBWrKuiOXZ .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qBWrKuiOXZ .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qBWrKuiOXZ .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qBWrKuiOXZ .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qBWrKuiOXZ .dropdown-item.active,
.cid-qBWrKuiOXZ .dropdown-item:active {
  background-color: transparent;
}
.cid-qBWrKuiOXZ .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qBWrKuiOXZ .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qBWrKuiOXZ .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qBWrKuiOXZ .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qBWrKuiOXZ .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qBWrKuiOXZ .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qBWrKuiOXZ ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qBWrKuiOXZ .navbar-buttons {
  text-align: center;
}
.cid-qBWrKuiOXZ button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qBWrKuiOXZ button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qBWrKuiOXZ button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qBWrKuiOXZ button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qBWrKuiOXZ button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qBWrKuiOXZ button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qBWrKuiOXZ nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qBWrKuiOXZ nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qBWrKuiOXZ nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qBWrKuiOXZ nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qBWrKuiOXZ .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qBWrKuiOXZ a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-qBWrKuiOXZ .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qBWrKuiOXZ .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-qBWrKuiOXZ .icons-menu span {
  font-size: 20px;
  color: #232323;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qBWrKuiOXZ .navbar {
    height: 77px;
  }
  .cid-qBWrKuiOXZ .navbar.opened {
    height: auto;
  }
}
.cid-qBWrPh5YFx {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background6.jpg");
}
.cid-qBWrPh5YFx .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-qBWrPh5YFx .main-reverse {
  flex-direction: row-reverse;
}
.cid-qBWrPh5YFx .image-element {
  padding: 0;
  display: flex;
  justify-content: center;
}
.cid-qBWrPh5YFx .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-qBWrPh5YFx .text-element {
  padding: 1rem;
}
.cid-qBWrPh5YFx .main,
.cid-qBWrPh5YFx .main-reverse {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-qBWrPh5YFx .main:first-child {
    padding-top: 1rem;
  }
  .cid-qBWrPh5YFx .image-element,
  .cid-qBWrPh5YFx .text-element {
    margin-bottom: 1rem;
  }
  .cid-qBWrPh5YFx .main-reverse {
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .cid-qBWrPh5YFx .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .cid-qBWrPh5YFx .image-element,
  .cid-qBWrPh5YFx .text-element {
    margin-bottom: 0;
  }
  .cid-qBWrPh5YFx .main:first-child {
    padding-top: 0;
  }
}
.cid-qBWs6JHD7O {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-qBWs6JHD7O .menu-item {
  padding: 0 1rem 1rem 1rem;
}
.cid-qBWs6JHD7O .menu-item .special-label {
  display: none;
}
.cid-qBWs6JHD7O .menu-item.special-item {
  padding-bottom: 0;
  margin-bottom: 1rem;
  border: 2px solid #9f3942;
}
.cid-qBWs6JHD7O .menu-item.special-item .special-label {
  display: block;
  width: 100%;
  word-break: break-word;
}
.cid-qBWs6JHD7O .menu-item.special-item .special-label .label-text {
  max-width: 100%;
  background: #9f3942;
  padding: .5rem 1rem;
  display: inline-block;
}
.cid-qBWs6JHD7O .special-label {
  color: #fff;
}
.cid-qBWs6JHD7O .menu-box {
  display: flex;
  justify-content: space-between;
}
.cid-qBWs6JHD7O .menu-box .box-text {
  word-break: break-word;
  padding-right: 2rem;
  width: 100%;
}
.cid-qBWs6JHD7O .menu-box .box-price {
  flex-shrink: 0;
}
.cid-qBWs6JHD7O .menu-row .menu-item:last-child {
  margin-bottom: 2rem;
}
.cid-qBWs6JHD7O .menu-row {
  margin: 0;
}
.cid-qBWs6JHD7O .group-title {
  color: #9f3942;
  font-weight: bold;
}
.cid-qBWudKqO9R {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qBWudKqO9R .container-fluid {
  padding: 0 3rem;
}
.cid-qBWudKqO9R .mbr-section-title {
  margin-bottom: 1.5em;
}
.cid-qBWudKqO9R .mbr-section-subtitle {
  color: #ffbc00;
}
.cid-qBWudKqO9R .input-main {
  width: 100%;
  margin: 0;
}
.cid-qBWudKqO9R .input-wrap {
  padding: 0 1rem 1rem 1rem ;
}
.cid-qBWudKqO9R .input-wrap input {
  border: 1px solid #ddd;
  background-color: #efefef;
  padding: 10px 20px;
  width: 100%;
}
.cid-qBWudKqO9R .form-group textarea {
  background-color: #efefef;
  padding: 1rem;
}
.cid-qBWudKqO9R .text-block {
  background: #232323;
  padding: 2rem;
  outline: 1px dashed #f9e2af;
  outline-offset: -15px;
}
.cid-qBWudKqO9R .work-list {
  list-style-type: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-qBWudKqO9R .time-block-title {
  color: #ffbc00;
}
.cid-qBWudKqO9R .time-title {
  color: #bdecb6;
}
@media (max-width: 767px) {
  .cid-qBWudKqO9R .container-fluid {
    padding: 0 1rem;
  }
  .cid-qBWudKqO9R .btn {
    padding: 1rem 2rem;
    font-size: 16px !important;
  }
  .cid-qBWudKqO9R .text-block {
    margin-bottom: 2rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qBWudKqO9R .text-block {
    border: 1px dashed #f9e2af;
    outline: 15px solid #232323;
  }
}
.cid-qBWtZTLSn2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qBWtZTLSn2 .icons-block .mbr-iconfont {
  font-size: 1.5rem;
  color: #000000;
  opacity: .5;
}
.cid-qBWtZTLSn2 .icons-block .mbr-iconfont:hover {
  opacity: 1;
}
.cid-qBWtZTLSn2 .links-block ul li {
  margin: 0 1rem;
}
.cid-qBWtZTLSn2 .icons-block ul li {
  margin: 0 .5rem;
}
.cid-qBWtZTLSn2 .links-block ul,
.cid-qBWtZTLSn2 .icons-block ul {
  margin-bottom: 1.5rem;
}
